{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Login" %} {% endblock %}
{% block extrahead %} <link rel="stylesheet" href="{% static 'css/login.css' %}"/> {% endblock %}
{% block content %}

{% if user.is_authenticated %}
  <p>{% blocktrans with user.username as username %}You are already logged in as {{ username }}.{% endblocktrans %}</p>
{% else %}
{% url 'register' as link %}
<!--
<p>{% blocktrans %}If you do not own an account on this site, you can <a href='{{ link }}'>register</a> for a new account.{% endblocktrans %}</p>
-->

<p>{% trans 'Log in with your username and password:' %}</p>
<form action="{% url 'login' %}" method="post" id="login-form" class="login">{% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %}
    {% endif %}

    <table>
        <tr>
          <td class="form-row">{{ form.username.label_tag }}</td>
          <td>{{ form.username.errors }}{{ form.username }}</td>
        </tr>
        <tr>
            <td class="form-row">{{ form.password.label_tag }}</td>
            <td>{{ form.password.errors }}{{ form.password }} 
            <!--span class="help"><a href="/password_reset/">{% trans 'Have you forgotten your password?' %}</a></span-->
            </td>
        </tr>
    </table>
    <div class="submit-row">
        <input type="submit" value="{% trans 'Log in' %}">
    </div>
    <input type="hidden" name="next" value="{{ next }}">
</form>
{% endif %}
{% endblock %}
