{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Registration" %}{% endblock %}
{% block extrahead %} <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css"/> {% endblock %}
{% block content %}

<h2>{% trans "Account Registration" %}</h2>
{% if user.is_authenticated %}
  <p>{% blocktrans with user.username as username %}You are already logged in as {{ username }}.{% endblocktrans %}</p>
{% else %}
<p>{% trans "You can register here for an account on this site." %}</p>

<form action="{{ app_path }}" method="post" id="login-form" class="login">
  {% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    <label for="id_username">{{ form.username.label }}</label> {{ form.username }} <span class="help">{{ form.username.help_text }}</span>
  </div>
  <div class="form-row">
    {{ form.email.errors }}
    <label for="id_email">{{ form.email.label }}</label> {{ form.email }}
  </div>
  <table style="clear:both"><tr><td colspan="2">
    <div style="clear:both">{{ form.non_field_errors }}</div>
  <div class="form-row">
    {{ form.password1.errors }}
    <label for="id_password">{{ form.password1.label }}</label> {{ form.password1 }} <span class="help">{{ form.password1.help_text }}</span>
  </div>
  <div class="form-row">
    <label for="id_password">{{ form.password2.label }}</label> {{ form.password2 }}
  </div>
  <div style="text-align:center; padding-top:8px;">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Register' %}" />
  </div>
  </td></tr></table>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endif %}

{% endblock %}
