.field_group_header {
  font-size: 115%;
  padding-top: 1em;
}

form.descr_edit_form, p.descr_edit_form {
  border: 1px dashed gray;
  background-color: #e7ffac;
  padding: 4px;
  margin-left: 1em;
  margin-bottom: 4px;
}

form.descr_edit_form p {
  /*display: inline;*/
  margin: 2px 0;
}

form.descr_edit_form .buttons {
  /*float: left;*/display: inline;
  margin-left: 8px;
  /*vertical-align:bottom;*/
}
form.descr_edit_form .new_widget {
  /*float: left;*/
  display: inline;
}

div.attr_edit_errors {
  margin: auto;
  text-align:center;
  color: red;
}

div.descriptor {
  margin-left: 1em;
}

div.descr_content {
  margin-left: 1em;
  /*display: inline;*/
}

div.descr_content .buttons {
  display: inline;
  /*float: right;
  margin-left: 0.2em;
  z-index: 20;*/
  /*position: absolute;
  right: 0;
  bottom: 0;*/
}

.descr_title {
  font-style: italic;
  padding: 0px;
}

div.value {
  display: inline;
}

div.medias {
  float:right;
  text-align: right;
  /*max-width: 50%;*/
}

div.images {
  /*float:right;*/
}
div#carousel, div#prevbtn, div#nextbtn {
  float:right;
}
div#carousel ul li {
  padding: 4px;
}

p.caption {
  margin: 2px;
  font-style: italic;
  font-size: 0.8em;
}

div.disabled {
  visibility: hidden;
}

div.map_block {
  margin-top: 5px;
  width: 47%;
  border: 1px solid #ccc;
  clear: right;
  float: right;
}
div#map {
  height: 256px;
}
/* Map editing widget */
div.map_widget {
  height: 500px;
  width: 800px;
}
textarea.vSerializedField {
  display: none;
}

div#ext_links {
  clear: both;
  float:right;
  padding-top: 8px;
}

table.tabular {
  border-collapse:collapse;
}
table.tabular th {
  background-color: #EEEEEE;
}
table.tabular td {
  border: 1px solid #CCCCCC;
  padding: 4px;
  text-align:right;
}
table.tabular tfoot {
  border-top: 15px solid gray;
}
