body {
  color: black;
  background-color: white;
  margin: 0 auto;
  font-family: arial,helvetica,verdana,sans-serif;
  font-size: 0.9em;
  text-decoration: none;
  max-width: 960px;
}

img {
  border: 0;
}

a {
  border-bottom:1px dotted #888888;
  color: black;
  text-decoration:none;
}
a:hover {
  border-bottom:1px dotted #888888;
  color:#333333;
  text-decoration:none;
}

a.header {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #888888;
  margin: 0 0.4em;
}

a.icon {
  text-decoration: none;
  border-bottom: 0;
}

img.icon {
  border: 0;
}

h1 {
  font-size: 1.5em;
  border-bottom: 1px solid gray;
  margin-bottom: 0px; /* edit buttons should be just after line */
}
h2 {
  font-size: 1.3em;
}
h2.top {
  margin-top: 0;
}

legend {
  color: #333;
  background-color: #EEEEEE;
}
.text-center { text-align: center; }

.errornote {
    font-weight: bold;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #721c24;
    border: 1px solid #ba2121;
    border-radius: 4px;
    background-color: #f8d7da;
    background-position: 5px 12px;
}

.help_text { color: #999; font-style: italic; font-size: 95%; }

.nobr {white-space: nowrap}

.even {
  background-color: #EEEEEE;
}

.mt-2 { margin-top: .5rem; }

div.header {
  color: white;
  background-color: #86bd00;
  padding: 1em;
}
div#logo {
  float: left;
  padding-right: 1em;
}
div.clear {
  clear: both;
}

div.menus {
  background-color: #005b2f; /*#1e8206;*/
  height: 2em;
  clear: both;
}

div.change_lang {
  color: white;
  font-size: x-small;
  float: right;
  margin: 0.5em;
}
.selected_lang {
  border: 1px solid #86bd00;
  padding: 2px;
}

div.search {
  margin: 0.5em;
  font-size:0.9em;
}
div.login {
  margin: 0.5em;
}
span.username {
  color: white;
}

div#breadcrumb {
  margin-bottom: 0.5em;
}

div.content {
  clear: both;
}

div#col_nav {
  /*background-color: #DDDDDD;*/
  float:left;
  width: 20%;
  position:relative;
  padding:0 0 1em 0;
  overflow:hidden;
}

div.message {
  color: red;
  padding: 4px;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border: 1px solid #DDDDDD;
}

div.footer {
  margin-top: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.8em;
  width: 85%;
  color: white;
  background-color: #222222;
  font-size: 0.7em;
  clear: both;
}

div.button {
  border: 2px solid #005b2f;
  background-color: white;
  color: #005b2f;
  padding: 0.2em;
}

div.button a {
  border-bottom: 0px;
}
div.button a:hover {
  color: #005b2f;
  font-weight: bold;
  text-decoration: none;
}

div.edit_icons {
  position: relative;
  right: 2px;
  bottom: 3px;
  float: right;
}

div.edit_buttons {
  margin-top: 2em;
}

img.edit_icon {
  display: none; /* showed on mouseover */
  /*visibility:hidden; */
}

.main_title {
  float:left;
  font-size: 1.4em;
  font-weight: bold;
}

.taxo_name {
  margin-top: 0.1em;
  padding-bottom: 2px;
  font-style: italic;
  font-size: 0.9em;
  background-color: #DDDDDD;
}
.taxo_link {
  color: black;
}

div.description {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.left_icon_margin {
  margin-left: 20px;
}

.helptext {
  color: #666666;
  font-style: italic;
  font-size: 0.9em;
}

.private, .status-private {
  color: red !important;
}
.status-private a {
  color: red;
}
.status-private a:hover {
  color:#333333;
}

/* class used by Django form handling */
ul.errorlist {
  list-style-type: none;
  color: #F00;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
}

/* forms */
.form th, th.left_header {
  vertical-align: top;
  text-align: right;
  max-width: 240px;
}

div.photo {
  background-color: #e7ffac;
  padding: 4px;
  border: 1px solid #005b2f;
  margin-top: 2px;
}
div.photo_title {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 5px;
}
div.file_title {
  display:inline;
  font-size: 0.7em;
}

div.object_block_left {
}
div.object_block_right {
}
div.object_block_left, div.object_block_right {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #CCC;
  margin: 0.2em;
  padding: 0;
  width: 48%;
}

.object_block_title {
  background-image: url(../img/header-bg.png); background-repeat: repeat;
  font-size: 1em;
  font-style: italic;
  margin: 0;
  /*margin-top: 0.3em;
  margin-bottom: 0.1em;*/
  padding: 4px;
  padding-right: 1.6em; /* make room for dropdown menu */
}
div.object_block_content {
  padding: 3px;
}
div.object_block_navigation {
  text-align: center;
}

div.attributes_block {
  border: 1px solid #005b2f;
  padding: 2px;
  background-color: #EEE;  
}

/* This should be probably attributes of an enclosing column... */
div.block {
  float: right;
  margin: 0.6em;
}
div.half_block {
  width: 45%;
}

.collection_search {
  margin-bottom: 1em;
}

div.block h2 {
  padding: 4px;
  font-size: 1.1em;
  background-color: #005b2f;
  color: white;
  margin-top: 0;
  margin-bottom: 0px;
}
div.block_content {
  border-width: 1px;
  border-style: solid;
  border-color: #005b2f;
  margin-bottom: 1em;
}
div.block ul {
  padding-left: 2em;
  list-style-type: disc;
  list-style-image: url(../img/arrow_in_a_box.png);
  margin-bottom: 0.2em;
}
div.block p {
  font-size: 0.8em;
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  list-style-image: url(../img/arrow_in_a_box.png);
}

div.expandable {
  margin-left: 1.5em;
  list-style-image: url(../img/open.png);
}
img.expander {
  float:left;
  margin-top: 3px;
  margin-left: -1em;
}
/* Pagination styles */
div.pagination {
  font-size: 0.8em;
  margin-top: 0.8em;
}

/* Search page styles */
div.search_crit {
  margin: 1em 0;
}
div.minus_icon {
  float: right;
}
li.search_result {
  padding-bottom: 0.5em;
}

div.img_result_container {
  display: flex;
  flex-wrap: wrap;
}
div.img_result {
  padding: 0.5em;
  margin: 0.5em;
  border: 1px dotted gray;
  width: 144px;
}
div.img_result .caption {
  font-style: italic;
}
div.img_result .object_link {
  font-weight: bold;
}

/* Help pages styles */
p.note {
  background-color: #fdfdf2;
  background-image: url(../img/note.png); background-repeat: no-repeat;
  padding: 0.8em 0.8em 0.8em 3.5em;
  border: 1px solid #999999;
}
