{% load i18n %}
<div class="block half_block" >
    <h2><a href="{{ bloc.get_absolute_url }}">{{ bloc.title }}</a></h2>
    <div class="block_content">
      <p>{{ bloc.description|default_if_none:''|safe }}</p>
      <div style="float:right;"><p><a href="{{ bloc.get_absolute_url }}">{% trans "More..." %}</a></p></div>
      <p>&nbsp;</p>
    </div>
</div>
