{% load i18n objects %}

{% comment %}
Input variables:
   num_children: total number of list elements
   page:         paginated object
   more_url:     url to get other pages
   style:        style of object rendering (short, middle, long)
{% endcomment %}
  {% if num_children == 0 %}
    <p><em>{% trans "No content" %}</em></p>
  {% else %}
    <ul>
        {% for obj in page.object_list %}
        <li class="{% cycle 'odd' 'even' %}"><div style="float:right">{% for img, title in obj.get_features %}<img src="{{ img }}" height="12" title="{{ title }}"/>{% endfor %}</div>
            <span class="status-{{ obj.status }}">{{ obj|resume:style }}</span></li>
        {% endfor %}
    </ul>
    <div class="object_block_navigation">
    {% if page.has_previous %}<a href="." title="{% trans "Get first items"%}" onclick="return get_page($(this), '{{ more_url }}', 1);"><img src="{% static 'img/navig-first.png' %}" alt="&lt;&lt;" /></a> <a href="." title="{% trans "Get previous items"%}" onclick="return get_page($(this), '{{ more_url }}', {{ page.previous_page_number }});"><img src="{% static 'img/navig-left.png' %}" alt="&lt;" /></a>{% endif %}
    {{ page.start_index }} - {{ page.end_index }}
    {% if page.has_next %}<a href="." title="{% trans "Get next items"%}" id="abc" onclick="return get_page($(this), '{{ more_url }}', {{ page.next_page_number }});"><img src="{% static 'img/navig-right.png' %}" alt="&gt;" /></a> <a href="." title="{% trans "Get last items"%}" onclick="return get_page($(this), '{{ more_url }}', 999);"><img src="{% static 'img/navig-last.png' %}" alt="&gt;&gt;" /></a>{% endif %}
    </div>
  {% endif %}
