{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Object detail"%}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/superfish.css' %}" media="screen"/>
  <script src="{% url 'javascript_catalog' %}"></script>
  {% if images %}
    <script src="{% static 'js/jcarousellite/jquery.jcarousellite.min.js' %}"></script>
  {% endif %}
  <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
  <script>
    var obj_id    = {{ obj.id }};
    var editable  = {{ editable|yesno:"true,false" }};
  </script>
  {% if editable %}
    <script src="{% static 'js/superfish.js' %}"></script>
    <script src="{% static 'js/invent_edit.js' %}"></script>
  {% endif %}
    <script type="text/javascript">

    var saved_object_blocks = null;

    $(document).ready(function() {
        //$('ul.sf-menu').superfish();
        attr_edit_btns();

        // Redisplay lists at previous paginated page
        if(window.location.search.length<=1) {  // Skip this behavior if GET params
          var more_urls = [];
          {% for obj_type in grouped_children.keys %}
          more_urls.push("{% url 'object_list' obj.id obj_type.code %}" + window.location.search);
          {% endfor %}
          for (i=0; i<more_urls.length; i++) {
            var page_num = $.cookie(more_urls[i]);
            if (page_num != null) {
              get_page($('.object_block_navigation'), more_urls[i], page_num);
            }
          }
        }


    {% if images %}
        $('#carousel').jCarouselLite({
            btnNext: "#nextbtn",
            btnPrev: "#prevbtn",
            visible: {% if images|length > 3 %}3{% else %}{{ images|length }}{% endif %},
            circular: false
        });
        $('img', '#carousel').click(function(ev) {
            ev.preventDefault();
            var img_id = $(this).attr('id').split('-')[1];
            display_image(img_id);
        });
        if (window.location.hash) {
            var img_id = window.location.hash.substring(1);
            if ($('#img-'+img_id).length > 0)
                display_image(img_id);
        }
    {% endif %}
    });

    function attr_edit_btns() {
        $("div.editable").hoverIntent(function(){
          $(this).find("img").show();
        }, function() {
          $("img.edit_icon").hide();
        });
    }

    function display_image(img_id) {
        if (saved_object_blocks == null) {
          saved_object_blocks = $('#object_blocks').html();
        }
        $.get('/invent/'+ img_id + '/as_image/', function(data) {
          $('#object_blocks').html(data);
          $('a#add_attr').click(function(ev) {
            ev.preventDefault();
            add_descriptor(img_id, $('#new_img_attr').val(), false, function() {display_image(img_id)});
          });
          attr_edit_btns();
        });
    }

    function close_image() {
        if (saved_object_blocks != null) {
            $('#object_blocks').html(saved_object_blocks);
            attr_edit_btns();
        }
    }

    </script>
{% endblock %}

{% block edit_widgets %}
{% if editable %}
<div class="edit_buttons">
    <a href="{% url 'add_photo' obj.id %}">
        <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Photo…" %}</a><br>
    <a href="{% url 'edit_file' obj.id "0" %}">
        <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "File…" %}</a><br>
    {% if obj.is_containable %}
    <a href="{% url 'object_import' obj.id %}">
        <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Import…" %}</a><br>
    {% endif %}
    {% if obj.is_biosequenceable %}
    <a href="{% url 'import_seq_file' obj.id %}">
        <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon">&nbsp;{% trans "Sequence…" %}</a><br>
    {% endif %}

    {% for type in containable_types %}
    <a href="{% url 'object_create' obj.id type.code %}">
        <img src="{% static 'img/plus.png' %}" alt="plus sign" class="icon"> {{ type.tname }}…</a><br>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block content %}

<div id="titlebar">
{% if editable %}
<div class="edit_icons">
    <a class="icon" href="{% url 'object_edit' obj.id %}"><img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans "Edit Description" %}" width="18"/></a>
    <a class="icon" href="{% url 'object_edit_perms' obj.id %}"><img class="icon" src="{% static 'img/edit_rights.png' %}" height="16" title="{% trans "Edit Permissions" %}" alt="edit icon" /></a>
    &nbsp;
    <form method="post" action="{% url 'object_delete' obj.id %}" onsubmit="return confirm('{{ _("Do you really want to delete this object and all its content?")|escapejs }}');" style="display: inline">
    {% csrf_token %}<input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" title="{% trans "Delete" %}" width="16">
    </form>
</div>
{% endif %}
<h1><span class="status-{{ obj.status }}">{{ obj.title }}</span></h1>
</div>

{% if specimen_dead %}
<div class="dead_warning errornote mt-2">Cette accession est morte.</div>
{% endif %}

<div id="object_content">
    <div class="medias">
       {% include "invent/block_images.html" %}
    </div>
    <div class="description">
       {% if obj.description %}{{ obj.description|safe }}{% endif %}
    </div>

    <div id="object_blocks">
      <div id="new_descriptor" style="display:none; clear: both;">
        <!-- include "invent/attribute_edit.html" -->
      </div>
    {% include "invent/object_value_blocks.html" %}
    {% include "invent/custom_blocks.html" %}

    {% if search_form %}
      <div class="collection_search">
        <form method="get" action="">
          <div>
            <b>{% trans "Search specimens in" %} {{ obj.title }}</b>
          </div>
          <div>
              {{ search_form.text.errors }}
              {{ search_form.text }}
              <button>{% trans "Search" %}</button>
          </div>
        </form>
      </div>
    {% endif %}

    {% if search_form and not grouped_children %}
      <div class="object_block_left">
        <h2 class="object_block_title">{% trans 'Empty result' %}</h2>
      <div class="object_block_content">
        {% blocktrans trimmed with search_form.text.value as pattern %}
          No matches for "{{ pattern }}"
        {% endblocktrans %}
      </div>
      </div>
    {% endif %}

    {% for obj_type, content in grouped_children.items %}
    <div class="object_block_{% cycle 'left' 'right' %}">
      {% if allow_tabular %}
      <div style="float:right; padding: 4px;">
        <a href="{% url 'object_list_table' obj.id obj_type.code 'table' %}" class="icon" onclick="return zoom_table(this.href);" title="{% trans "Show as table" %}">
          <img src="{% static 'icons/table.png' %}" alt="table icon"></a>
      </div>
      {% endif %}
      <h2 class="object_block_title">{{ obj_type.tname }} ({{ content.0 }})</h2>
      <div class="object_block_content">
        {% with num_children=content.0 page=content.1 style='short' %}
          {% include "invent/object_list_block.html" %}
        {% endwith %}
      </div>
    </div>
    {% endfor %}

    {% if reverse_count %}
    <div class="object_block_right">
      <h2 class="object_block_title">{% trans "Referenced by" %} ({{ reverse_count }})</h2>
      <div class="object_block_content">
        {% url 'reverse_objects' obj.id as more_url %}
        {% with num_children=reverse_objects|length page=reverse_objects style='middle' %}
          {% include "invent/object_list_block.html" %}
        {% endwith %}
      </div>
    </div>
    {% endif %}

    {% if obj.files.count %}
        {% include "invent/block_files.html" %}
    {% endif %}
    {% if editable and obj.is_containable %}
      <div style="clear: both;">
        <p id="access_url" class="help_text"><em>{% trans "Access URL:" %} {{ obj.uuid_url }}</em>&nbsp;&nbsp;
        <a href="{% url 'help' 'external_data' %}" class="icon"><img src="{% static 'icons/help.png' %}" title="{% trans 'What is this?' %}"/></a></p>
      </div>
    {% endif %}
    </div> <!-- id="object_blocks" -->
</div>
<div id="alt_container" style=""></div>
{% endblock %}
