{% load i18n render_attr %}
{% comment %}
  Input: grouped_values
{% endcomment %}

{% for group_title, attributes in grouped_values.items %}
  <div class="object_block_{% cycle 'left' 'right' %}">
  <h2 class="object_block_title"> {{ group_title }}</h2>
  <div class="object_block_content">
  {% for attr_title, attr_values in attributes.items %}
    {% if 'renderer' in attributes %}
      {% if attr_title != 'renderer' %}{% include attributes.renderer %}{% endif %}
    {% else %}
    <div class="descriptor">
      <div class="descr_title">{{ attr_title }}: {% if attr_values.0.ahelp %}<img src="{% static 'img/help-nb.png' %}" title="{{ attr_values.0.ahelp }}" class="tooltip" width="14">{% endif %}</div>
      {% for value in attr_values.1 %}
      <div class="descr_content {% if editable %}editable{% endif %}" id="value-{{ value.id }}">
        <div class="value">{% render_attr %}</div>
        {% if editable and attr_values.0.is_editable %}
        <div class="buttons">
          <a href="." onclick="return edit_value('{{ value.id }}')">
            <img class="edit_icon" src="{% static 'img/edit.png' %}" height="16" title="{% trans "Edit" %}" alt="edit icon" /></a>
          <a href="." onclick="return delete_value('{{ value.id }}')">
            <img class="edit_icon" src="{% static 'img/delete.png' %}" height="16" title="{% trans "Delete" %}" alt="delete icon" /></a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
  </div> <!-- object_block_content -->
  </div> <!-- object_block -->
{% endfor %}

