{% extends "search/search_base.html" %}
{% load i18n objects %}

{% block results %}
{% if total >= 0 %}
    <hr />
    {% if page.object_list %}
      <p>{% blocktrans count total as num %}{{ num }} result.{% plural %}{{ num }} results.{% endblocktrans %}
      </p>
    {% endif %}
    <ul>
    {% for res in page.object_list %}
      <li class="search_result"><span class="status-{{ res.status }}">{{ res|resume:'long' }}</span>
        {% for img, title in res.get_features %}<img src="{{ img }}" height="15" title="{{ title }}"/>{% endfor %}</li>
    {% empty %}
      <li>{% trans "Sorry, no result match your query" %}</li>
    {% endfor %}
    </ul>
    {% if page.object_list %}
    <div class="object_block_navigation">
        {% if page.has_previous %}
            <a href="?{{ qs }}&p=1" title="{% trans "Get first items"%}">{% trans "First" %}</a> |
            <a href="?{{ qs }}&p={{ page.previous_page_number }}" title="{% trans "Get previous items"%}">{% trans "Previous items" %}</a> |
        {% endif %}
        {{ page.start_index }} - {{ page.end_index }} {% trans "of" %} {{ total }}
        {% if page.has_next %}
            | <a href="?{{ qs }}&p={{ page.next_page_number }}" title="{% trans "Get next items"%}">{% trans "Next items" %}</a>
            | <a href="?{{ qs }}&p=999" title="{% trans "Get last items"%}">{% trans "Last" %}</a>
        {% endif %}
    </div>

    <div style="text-align: right;">
        <a href="{% url 'search-export-options' %}?{{ qs }}">{% trans "Export results" %}</a>
    </div>
    {% endif %}
{% endif %}
{% endblock %}
