{% extends "base.html" %}
{% load i18n thumbnail %}
{% block title %}{% trans "Search images"%}{% endblock %}

{% block content %}
<h1>{% trans "Image Search" %}</h1>
<div style="padding: 3px;">
    <span style="padding: 3px;"><a href="{% url 'search' %}">Attributes</a></span>
    <span style="background-color: #CCCCCC; padding: 3px; border: 1px solid #CCCCCC; font-weight: bold;">Images</span>
</div>

<form method="get" action="." style="margin-top: 0.7em;">
    {{ form.text }}  <input type="submit" value="{% trans 'Search' %}">

    {% if total >= 0 %}
        <h3>{% trans "Results" %}</h3>

        <div class="img_result_container">
        {% for result in page.object_list %}
            {% with result.parent.get_absolute_url as url %}
            <div class="img_result">
                <a href="{{ url }}#{{ result.id }}">{% thumbnail result.imagesubobject.image "140x90" as im %}<img id="img-{{ photo.id }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>{% endthumbnail %}</a><br/>
                <span class="caption">{{ result.title }}</span><br/>
                <a href="{{ url }}#{{ result.id }}"><span class="object_link">{{ result.parent.title }}</span></a>
            </div>
            {% endwith %}
        {% empty %}
            <p>{% trans "No results found." %}</p>
        {% endfor %}
        </div>

        {% if page.has_previous or page.has_next %}
            <div class="object_block_navigation">
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; {% trans 'Previous' %}{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}{% trans 'Next' %} &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}
</form>
{% endblock %}
