{% extends "search/search_base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Export search query" %}</h1>
<h2>
  {% blocktrans trimmed count nb=results_nb %}
    {{ nb }} record
  {% plural %}
    {{ nb }} records
  {% endblocktrans %}
</h2>
<form method="post" action="{{ form_action_url }}">
  {% csrf_token %}
  {{ form }} <br>
  <input type="submit">
</form>
{% endblock%}
