{% extends "index.html" %}
{% load i18n %}

{% block left_content %}{% endblock %}

{% block content %}
  <h2>{% trans "Policies for using the Mycoscope database of Agroscope" %}</h2>
  <p><b>{% blocktrans %}The Mycoscope database and collection of Agroscope is to make fungal material (cultures, pictures, drawings, molecular data, and other types of data) accessible to the public and to the scientific community. The use and distribution of these data request the authorization of the project initiator [katia.gindro@agroscope.admin.ch]{% endblocktrans %}</b></p>
  <p><b>{% blocktrans %}Taxa included in the Mycoscope Agroscope database are identified by taxonomic experts. This work is in constant progress and some names will change according to additional data and/or depending on the improvement of the phylogenetic knowledge that document our collections. The use of the taxonomy presented here is consequently at your own risk.{% endblocktrans %}</b></p>
  <form method="post" action=".">
      {% csrf_token %}
      <p><b>{{ form.accept }} <label for="id_accept">{{ form.accept.label }}</label></b></p>
      <button type="submit">{% trans 'Continue' %}</button>
  </form>
{% endblock %}
