{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sequence editing"%}{% endblock %}

{% block content %}

<form name="edit_form" method="post" class="form" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <table>
    {{ form.as_table }}
    </table>
    <button type="submit">{% trans 'Save' %}</button>
</form>

{% endblock content %}
