{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sequence display"%}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
var previous_content = new Array();

function hilite(start_idx, end_idx) {
  /* Hilite some part of a sequence string */
  var stline_no = Math.floor((start_idx-1)/60);
  var stchar_no = ((start_idx-1)%60);
  stchar_no += Math.floor(stchar_no/10) // spaces
  var enline_no = Math.floor((end_idx-1)/60);
  var enchar_no = ((end_idx-1)%60) +1;
  enchar_no += Math.floor(enchar_no/10) // spaces
  /* Save original content */
  for (idx=stline_no; idx <= enline_no; idx++) {
    previous_content[idx] = $("#line-"+ idx).html();
  }
  /* begin by end span */
  var enline_cont = $("#line-"+ enline_no).html();
  enline_cont = enline_cont.substr(0,enchar_no) + "</span>" + enline_cont.substr(enchar_no)
  if (enline_no == stline_no) {
    enline_cont = enline_cont.substr(0,stchar_no) + "<span style='background-color:#ff0;'>" + enline_cont.substr(stchar_no);
    $("#line-"+ enline_no).html(enline_cont);
  } else {
    enline_cont = "<span style='background-color:#ff0;'>" + enline_cont;
    $("#line-"+ enline_no).html(enline_cont);
    /* mark all lines until begin */
    for (idx=stline_no; idx<enline_no; idx++) {
      var line_cont = $("#line-"+ idx).html();
      if (idx==stline_no) {
        line_cont = line_cont.substr(0,stchar_no) + "<span style='background-color:#ff0;'>" + line_cont.substr(stchar_no);
      } else {
        line_cont = "<span style='background-color:#ff0;'>" + line_cont;
      }
      line_cont = line_cont + "</span>";
      $("#line-"+ idx).html(line_cont);
    }
  }
  $("#line-"+ enline_no).html(enline_cont);
}

function unhilite(start_idx, end_idx) {
  var stline_no = Math.floor((start_idx-1)/60);
  var enline_no = Math.floor((end_idx-1)/60);
  for (idx=stline_no; idx <= enline_no; idx++) {
    $("#line-"+ idx).html(previous_content[idx]);
  }
  previous_content.length=0;
}

$(document).ready(function() {
    $(".location").hover(function() {
        var splitted_id = $(this).attr('id').split('-');
        hilite(splitted_id[2], splitted_id[3]);
        $(this).css({'background-color': '#ff0'});
    }, function() {
        var splitted_id = $(this).attr('id').split('-');
        unhilite(splitted_id[2], splitted_id[3]);
        $(this).css({'background-color': '#fff'});
    });
});
</script>
{% endblock %}

{% block content %}

{% if editable %}
<div class="edit_icons">
    <a class="icon" href="{% url 'edit_sequence' obj.pk bioentry.pk %}">
        <img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans "Edit sequence" %}" width="18">
    </a>

  <form method="post" action="{% url 'delete_sequence' obj.pk bioentry.pk %}" onsubmit="return confirm('{% trans "Do you really want to delete this sequence?" %}');" style="display: inline">
    {% csrf_token %}
    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" title="{% trans "Delete" %}" width="16" /></form>
</div>
{% endif %}

<h1>{{ obj.title }}</h1>
<table border="0">
<tr><th class="left_header">{% trans "Name" %}</th><td>{{ bioentry.name }}</td>
                            <th class="left_header">{% if bioentry.division %}<strong>{% trans "Division" %}</strong></th>
                            <td>{{ bioentry.division }} <a href="http://www.ncbi.nlm.nih.gov/Sitemap/samplerecord.html#GenBankDivisionB" class="icon"><img src="{% static 'icons/help.png' %}" title="{% trans 'What is this?' %}"/></a>{% else %}</th><td>{% endif %}</td></tr>
<tr><th class="left_header">{% trans "Accession" %}</th><td>{{ bioentry.accession }}</td>
                            <th class="left_header">{% if bioentry.version %}<strong>{% trans "Version" %}</strong></th>
                            <td>{{ bioentry.version }}{% else %}</th><td>{% endif %}</td></tr>
<tr><th class="left_header">{% trans "Identifier" %}</th><td>{{ bioentry.identifier }}</td></tr>
<tr><th class="left_header">{% trans "Description" %}</th><td colspan="3">{{ bioentry.description }}</td></tr>
{% if bioentry.unite_number %}
<tr><th class="left_header">{% trans "Unite number" %}</th>
    <td colspan="3"><a href="https://unite.ut.ee/sh/{{ bioentry.unite_number }}" target="_blank">{{ bioentry.unite_number }}</a></td>
</tr>
{% endif %}
{% if bioentry.keywords %}
<tr><th class="left_header">{% trans "Keywords" %}</th><td colspan="3">{{ bioentry.keywords }}</td></tr>
{% endif %}
{% if bioentry.source %}
<tr><th class="left_header">{% trans "Source" %}</th>
    <td colspan="3">{{ bioentry.source }}{% if bioentry.organism %}<br/>
                    <b>{% trans "Organism" %}</b><br/>{{ bioentry.organism }}<br/>{{ bioentry.taxonomy }}{% endif %}</td>
</tr>
{% endif %}
<!-- References -->
{% if bioentry.bioentryreference_set.count %}
<tr><th class="left_header">{% trans "References" %}</th><td colspan="3">
    {% for bref in bioentry.bioentryreference_set.all %}
        <div style="margin-bottom:0.5em;">{{ bref.rank }}{% if bref.start_pos %} (bases {{ bref.start_pos }} to {{ bref.end_pos }}){% endif %}<br/>
        <b>{% trans "Authors" %}</b> {{ bref.reference.authors }}<br/>
        <b>{% trans "Title" %}</b> {{ bref.reference.title }}<br/>
        <b>{% trans "Published in" %}</b> {{ bref.reference.location }}</div>
    {% endfor %}
</td></tr>
{% endif %}
<!-- Features -->
{% for feature in features %}
  {% if forloop.first %}<tr><th class="left_header">{% trans "Features" %}</th><td colspan="3"><table>{% endif %}
  <tr><td valign="top">{{ feature.type_term }}</td>
      <td><div class="location" id="loc-{{ feature.location.id }}-{{ feature.location.start }}-{{ feature.location.end }}">
            <div>{{ feature.location.start }}..{{ feature.location.end }} ({{feature.location.id}})</div>
            {% for qual in feature.qualifiers %}<div>{{ qual.term }} = {{ qual.value }}</div>{% endfor %}
          </div>
      </td>
  </tr>
  {% if forloop.last %}</table></td></tr>{% endif %}
{% endfor %}
</table>
<div align="right"><em>{% trans "Last modified:"%} {{ bioentry.last_modif_date }}</em></div>
<strong>{% blocktrans with sequence|length as length %}Sequence ITS4 ({{ length }} bp):{% endblocktrans %}</strong><br/>
{% for idx,line in bioentry.formatted_sequence %}
  <span style="font-family:monospace; color:#AAAAAA;"><pre style="display:inline;margin-right:1em;">{{ idx }}</pre></span>
  <span style="font-family:monospace;" id="line-{{ forloop.counter0 }}">{% for group in line %}{{ group|safe }} {% endfor %}</span><br/>
{% endfor %}

<div align="right" style="font-size:90%">Format: HTML | <a href=".?format=genbank">GenBank</a> | <a href=".?format=fasta">FASTA</a></div>

{% if user.is_authenticated %}
  <hr/><div>
  {% for blast in bioentry.blastresult_set.all %}
    {% if forloop.first %}<ul>{% endif %}
    <li><a href="{% url 'blast_display' obj.pk blast.pk %}">blasted on {{ blast.blast_date|date:"d.m.Y, H:i" }}</a> by {{ blast.blast_who }}</li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
  <form method="get" action="{% url 'blast_sequence' obj.pk bioentry.pk 'local' %}">
      {% csrf_token %}<input type="submit" value="Run local BLAST">
  </form>
  <form method="get" action="{% url 'blast_sequence' obj.pk bioentry.pk 'www' %}">
      {% csrf_token %}<input type="submit" value="Run online BLAST (nt database)">
  </form>
  </div>
{% endif %}
{% endblock %}
