{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sequence import"%}{% endblock %}

{% block extra_head %}
<style>
ul#id_target { padding: 0; list-style-type: none; }
</style>
{% endblock %}

{% block content %}

<h1>{{ obj.title }}</h1>
<h2>{% trans "Import sequence(s)" %}</h2>
{{ form.non_field_errors }}
<form enctype="multipart/form-data" method="post" action=".">
    {% csrf_token %}
<table class="form">
  <tr><th>{{ form.seqfile.label }}:</th>
      <td>{{ form.seqfile.errors }}{{ form.seqfile }}</td></tr>
  <tr><td></td>
      <td>{{ form.target }}</td></tr>

  <tr><th>{% trans "Or" %}</th></tr>

  <tr><th>{{ form.ncbi_accession.label }}:</th><td>{{ form.ncbi_accession.errors }}{{ form.ncbi_accession }}</td></tr>
  <tr><td colspan="2" align="right">
    <input type="button" onclick="window.location='{{ obj.get_absolute_url }}'" value="{% trans 'Cancel' %}" style="margin-right:2em;">
    <input type="submit" value="{% trans 'Import' %}">
  </td></tr>
</table>
</form>

{% endblock %}
