{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Error: Page not found" %} (404){% endblock %}

{% block content %}

<h1>{% trans "Error: Page not found" %}</h1>

<p>{% trans "Sorry, but the requested page or object does not exist on this site." %}</p>

{% endblock %}
