{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Mycoscope: {% block title %}{{ title }}{% endblock %}</title>
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.minified.js' %}"></script>
  <script src="{% static 'js/invent.js' %}"></script>
  <script>var static_url = "{{ STATIC_URL }}";</script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/taxo.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/myco.css' %}"/>

  {% if form %}
  {{ form.media }}
  {{ form.js_init }}
  {% endif %}
  {% block extra_head %}{% endblock %}
</head>

<body>
    <div id="webHeaderDiv" style="display: flex;">
        <div style="flex-grow: 1;">
            <img src="{% static 'img/logo-agroscope.png' %}" style="margin-top: 0.7em; height: 60px;" alt="logo Confédération">
            <div id="webServiceNavigationDiv">
                <div class="search" style="margin-left: auto;">
                    <a href="{% url 'search' %}" class="header">{% trans "Search" %}</a> |
                    <a href="{% url 'publications' %}" class="header">{% trans "Publications" %}</a> |
                    <a href="{% url 'press_corner' %}" class="header">{% trans "Press corner" %}</a> |
                    {% if user.is_siteadmin %}
                      <a href="{% url 'site_admin' %}" class="header status-private">{% trans "Administration" %}</a> |&nbsp;&nbsp;
                    {% endif %}
                </div>
                {% include "login_div.html" %}
            </div>
        </div>
        <div>
            <img src="{% static 'img/logo.svg' %}" style="margin-top: 0.3em; width: 125px;" alt="Logo mycoscope">
        </div>
  </div>


<div class="content">
  {% block breadcrumb %}{% if breadcrumb %}
  <div id="breadcrumb">
    {% for level in breadcrumb %}
        {% if level.1 %}<a href="{{ level.1 }}">{% endif %}
        <span>{{ level.0 }}</span>{% if level.1 %}</a>{% endif %}
        {% if not forloop.last %} → {% endif %}
    {% endfor %}
  </div>{% endif %}
  {% endblock %}

  <div id="col_content">
    {% if messages %}
    <div id="site_message" class="message">
        {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span><br>
        {% endfor %}
    </div>
    {% endif %}

  {% block content %}
  {% endblock %}
  </div>
  
  {% block edition_content %}
  {% if user.is_authenticated %}
  <div id="col_func">
    {% block edit_widgets %}
    {% endblock %}
  </div>
  {% endif %}
  {% endblock %}

</div>

<div id="webFooter">
<div style="float:right; width: 46%;">
    <em>{% trans "Database implemented and updated by Nicole Lecoultre and Katia Gindro" %}</em>
</div>
copyright © 2025 <a href="https://www.agroscope.admin.ch/">Agroscope</a> &amp; <a href="https://www.2xlibre.net/">2xlibre.net Sàrl</a>
<br style='clear:both;'>
</div>

</body>
</html>
