{% load i18n %}
<div>
  <form class="search_form" onsubmit="return popul_with_search()">
  <input type="text" id="search_input" /> <input type="submit" onclick="return popul_with_search('{% url 'taxo_search' mode %}')" value="{% trans "Search" %}" />
  </form>
</div>
