{% extends "base.html" %}
{% load i18n %}

{% block title %}{% if main_taxon %}{{ main_taxon.name }}{% else %}{% trans "Taxonomy" %}{% endif %}{% endblock %}
{% block extra_head %}
  <script src="{% static 'js/invent.js' %}"></script>
  <script src="{% static 'js/taxo.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
  <div id="breadcrumb"><a href="{% url 'home' %}">{% trans "Home" %}</a>
   → {% trans "Taxonomy" %}
  </div>
{% endblock %}

{% block content %}
{% include "taxo/rank_selector.html" %}

{% if main_taxon %}{{ main_taxon.name }} ({{ main_taxon.rank }})<!--{{ main_taxon.hierarchy }}-->
{% else %}<h2>{% trans "Taxonomy" %}</h2>
{% endif %}
<div class="content_line">{% if displayed_taxons %}{% include "taxo/taxo_widget.html" %}{% endif %}</div>

{% if page_obj %}
<div class="object_block_content">
    {% with page=page_obj style='short' %}
    {% url 'taxo_browse_subobjects' main_taxon.id as more_url %}
    {% include "invent/object_list_block.html" %}
    {% endwith %}
</div>
{% endif %}
{% endblock %}
